h5 {
    font-weight: 700;
    margin: 30px 0 10px 0px;
}

.profile-pic {
    justify-content: space-between;
    width: 300px;
    margin: auto;
    padding-bottom: 35px;
}


/* .my-pic{
    width: 100px;
    border-radius: 100px;
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/jisu.jpg)no-repeat;
    background-size: contain, cover;
} */

.am-main-section {
    text-align: center;
    margin: 90px 0;
}

.ex-section {
    padding: 90px 0;
    background: #f0f0f0;
}

.about-me {
    max-width: 750px;
    margin: 35px auto;
}

.about-me p {
    line-height: 24px;
}


/* .logos {
    margin-top: 35px;
    /* filter: grayscale(1); */

.linked-logo {
    width: 96px;
    padding-right: 20px;
}

.wix-logo {
    width: 85px;
    padding-left: 20px;
}

.ror-container {
    background: white;
    max-width: 900px;
    margin: 35px auto;
    padding: 20px 30px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
}

.ror-container li {
    line-height: 24px;
}

.date {
    font-size: 14px;
    font-weight: 700;
}

.company {
    font-size: 14px;
}

.position {
    color: #e65678;
    font-size: 20px;
}

.section05 {
    padding: 90px 0;
}

.wp {
    width: 30px;
}

.in {
    width: 22px;
}

.web-p-container {
    width: 100%;
    min-width: 260px;
    margin: auto;
}

@media all and (min-width: 600px) {
    .web-p-container {
        display: flex;
        max-width: 900px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.web-p-single-container {
    min-width: 300px;
    padding: 30px 30px;
}

@media all and (min-width: 600px) {
    .web-p-single-container {
        min-width: 250px;
        width: 30%;
        padding: 50px 0;
    }
}

.web-p-single-container span {
    font-weight: 700;
    color: black;
}

.web-title {
    text-align: center;
}

.text {
    height: 180px;
    line-height: 24px;
}

@media all and (min-width: 600px) {
    .text {
        height: 220px;
    }
}

.logo {
    margin-top: 35px;
}

.des-me-section {
    background: #f0f0f0;
    padding: 90px 0;
}

.am-skill-section {
    background: white;
    padding-bottom: 60px;
}

.role {
    max-width: 800px;
    margin: auto;
    padding: 0 20px 30px 20px;
}

.job-title {
    max-width: 855px;
    margin: auto;
    padding-top: 20px;
}

.job-title p {
    padding-bottom: 20px;
}

.am-wp-bar {
    margin-bottom: 20px;
}

.lang {
    margin-top: 20px;
    font-size: 14px;
}

.accordion {
    overflow: hidden;
}

.accordion-section-content {
    padding: 15px;
    display: none;
}
.accordion-section a{
    border: 1px solid #8a939a;
    color: #8a939a;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
}
.view-btn{
    margin: 11px 0;
}
.view-btn img{
 width: 10px;
}

.down-arrow{
    transform: scaleY(-1);
}