.adbuyer-container {
    .adbuyer-topbanner {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.4) 40%), url('../img/ad/adbuyer-bg.jpg') no-repeat top;
        background-size: cover;
        height: 90vh;
    }
    span{
        font-weight: 900;
    }
    .secondrow-container {
        .secondrow-img {
            @media all and (min-width: 600px) {
                width: 30%;
            }
            img {
                width: 100%;
            }
        }
    }
    .header-text {
        width: 500px;
        padding-bottom: 30px;
        margin: 0 auto;
        text-align: center;
    }
    .thirdrow-img {
        @media all and (min-width: 600px) {
            width: 30%;
        }
        img {
            width: 100%;
        }
    }
}