.aloha-btns{
    display: flex;
}
.sp-sub-title{
    text-align: center;
}
.aloha-lang{
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    width: 300px;
    padding: 10px 0;
    margin: auto;
}

h6{
    margin: 35px 0;
    font-size: 24px;
}
.aloha-btns{
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
}

.aloha-section1{
    text-align: center;
    margin: 90px 0 35px 0;
}

.aloha-section2{
    max-width: 750px;
    margin: auto;
    padding-bottom: 35px;
}


.aloha-section2 p{
    line-height: 24px;
}

.aloha-section2 ul{
    margin-top: 25px;
    line-height: 30px;
    padding-left: 30px;
    color: #4f4f4f;
}