.cha-container {
    .cha-topbanner {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.6) 70%), url('../img/cha/cha-main-banner1.jpg') no-repeat top;
        background-size: cover;
        height: 80vh;
    }
    .secondrow-img,
    .fifthrow-container img,
    .fourthrow-img img {
        width: 100%;
    }
    .secondrow-container img,
    .thirdrow-container img,
    .fourthrow-container img,
    .fifthrow-container img {
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .15)
    }
    .bottom-info-container {
        .text-container ul{
            padding-left: 20px;
            margin-top: 20px;
            line-height: 28px;
            span{
                font-style: italic;
                color: grey;
            }
        }
        .image-container {
            margin: 20px 0;
            @media all and (min-width: 600px) {
                margin: 0px 0;
            }
            img{
                width: 100%;
               
            }
        }
    }
}