.disney-container {
    .disney-topbanner {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.6) 60%), url('../img/disney/d-img.png') no-repeat top;
        background-size: cover;
        height: 70vh;
    }
    .sp-sub-title{
        padding-top: 203px;
    }
    .secondrow-img, .thirdrow-img, .fourthrow-img, .fifthrow-img{
        width: 100%;
        margin: 0 auto;
        @media all and (min-width: 600px) {
            width: 80%;
        }
        img{
            width: 100%;
        }
    }
    .fellow-gif{
        min-width: 260px;
        img{
            width: 100%;
        }
    }
}