.fellow-container {
    .fellow-topbanner {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.6) 60%), url('../img/fellow/fellow-mainbanner.jpg') no-repeat top;
        background-size: cover;
        height: 90vh;
    }
    .sp-sub-title {
        padding-top: 197px;
        h6 {
            line-height: 58px;
            max-width: 700px;
            margin: 0 auto;
            padding-bottom: 30px;
        }
    }
    .secondrow-img,
    .fourthrow-img,
    .fifthrow-img {
        @include box-shadow;
    }
    .fellow-gif{
        margin-top: 40px;
    }
    .secondrow-img,
    .thirdrow-img,
    .fourthrow-img,
    .fifthrow-img {
        width: 100%;
        margin: 0 auto;
        @media all and (min-width: 600px) {
            width: 80%;
        }
        img {
            width: 100%;
        }
    }
    .fellow-gif {
        min-width: 260px;
        img {
            width: 100%;
        }
    }
}