.fsm-container {

    .fsm-topbanner {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.6) 60%), url('../img/fsm/fsm-top03.jpg') no-repeat top;
        background-size: cover;
        height: 100vh;
    }
    .sc-images p {
        margin-bottom: 20px;
        color: black;
        font-weight: 500;
    }
 
    .thirdrow-container {
        padding-top: 50px;
    }
}