.fsm-container {
    // .aloha-image {
    //     text-align: center;
    //     margin-bottom: 90px;
    // }
    .fsm-topbanner {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.6) 60%), url('../img/fsm/fsm-top03.jpg') no-repeat top;
        background-size: cover;
        height: 100vh;
    }
    .styleguide-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 80px 20px;
        background: #F6F6F6;
        border-top: 1px solid #dce0e5;
        border-bottom: 1px solid #dce0e5;
    }
    .styleguide-img , .img-container{
        width: 48%;
    }
    .styleguide-img img {
        width: 100%;
        box-shadow: 1px 1px 6px 0px rgba(0, 0, 0 ,.2);
    }
    .sc-images p {
        margin-bottom: 20px;
        color: black;
        font-weight: 500;
    }
  

    .wireframe-container, .contentpart-container{
        display: flex;
        justify-content: space-around;
       
   
        img{
            width: 100%;
        }

    }

}