
body
{
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  /* background: #232323; */
  /* color: #cdcdcd;  */
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;
  transition: color 0.3s ease;
}

/* a:hover
{
  color: tomato;
} */

#menuToggle
{
  display: block;
  position: relative;
  top: 23px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}



#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the mburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle .ham-bar
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  /* background: #232323; */
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  height: 800px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.desktop-menu{
  visibility: hidden;
}
.ham-menu .menu-sns{
  display: flex;
  padding-top: 50px;
}
.menu-sns div{
  padding-right: 15px;
}
.menu-sns div:last-child {
  padding-left: 0;
}
.menu-sns img {
  width: 25px;
}

.ham-menu{
  position: fixed;
  z-index: 1;

}

@media all and (min-width: 500px) {
.ham-menu{
  display: none;
}
.desktop-menu{
  visibility: visible;
}
}









.menu-logo-img img {
    margin-top: 8px;
    width: 24px; // position: absolute;
}

.menu-list {
    margin-top: 24px;
    color: white;
    list-style: none; // width: 55%;
    display: flex;
    justify-content: space-between;
}

.menu-list a {
    color: white;
}

li a:hover {
    color: #34746f;
}