.menu-container {
	background: rgba(255, 255, 255, .2);
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}

.menu {
	display: flex;
	padding: 0 5%;
	font-size: 14px;
	height: 60px;
	margin: 0 auto;
}

li a:hover {
	color: #4f4f4f;
}

.pink-bar-top {
	visibility: hidden;
}

.pink-bar-top:hover {
	visibility: visible;
}

.menu-bar {
	color: rgba(0, 0, 0, .8);
}

.top-logo {
	width: 60%;
	color: white;
}

.top-logo img {
	margin-top: 8px;
    width: 47px;
	position: absolute;
}

.menu-list {
	margin-top: 24px;
	color: white;
	list-style: none;
	width: 30%;
	display: flex;
	justify-content: space-between;
}

.menu-list a {
	color: black;
}

.top-logo span {
	font-weight: 100;
	top: 42%;
	left: 55px;
	position: relative;
}

.top-logo span:hover {
	color: black;
}

.menu-bar-hover {
	border-bottom: 2px solid black;
	margin-top: 20px;
	width: 30px;
}
.contact-container{
	width: 10%;
    text-align: center;
    padding-top: 25px;
    padding-left: 48px;
}
.contact-container a{
	margin-top: 10px;
    padding: 10px 20px;
    background: #00d08c;
    border-radius: 20px;
}
.contact-container a:hover{
	background: white;
	color: black;
   }