.menu-container {
	background: #191919;
	padding: 0 5%;
}

.menu {
	display: flex;
	width: 100%;
	font-size: 14px;

	height: 60px;
	margin: 0 auto;
}

li a:hover {
	color: #4f4f4f;
}

.pink-bar-top {
	visibility: hidden;
}

.pink-bar-top:hover {
	visibility: visible;
}

.menu-bar {
	color: #616161;
}

.top-logo {
	width: 45%;
	color: white;
}

.top-logo img {
	margin-top: 13px;
    width: 34px;
	position: absolute;
}

.menu-list {
	margin-top: 24px;
	color: white;
	list-style: none;
	width: 55%;
	display: flex;
	justify-content: space-between;
}

.top-logo span{
	font-weight: 100;
	top: 42%;
	left: 35px;
    position: relative;
}
.top-logo span:hover{
	color: #60acaa;
}
.menu-bar-hover{
	border-bottom: 2px solid #60acaa;
margin-top: 20px;
width: 30px;
}
