.menu-container {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.menu {
    display: flex;
    font-size: 14px;
    height: 60px;
    margin: 0 auto;
    @media all and (min-width: 600px) {
        padding: 0 5%;
        max-width: 900px;
    }
}

li a:hover {
    color: #34746f;
}

.pink-bar-top {
    visibility: hidden;
}

.pink-bar-top:hover {
    visibility: visible;
}

.menu-bar {
    color: rgba(0, 0, 0, .8);
}

.top-logo {
    padding-left: 15px;
    width: 50%;
    color: white;
    @media all and (min-width: 600px) {
        width: 70%;
        padding-left: 0;
    }
}

.top-logo img {
    margin-top: 8px;
    width: 24px;
    position: absolute;
}

.menu-list {
    margin-top: 24px;
    color: white;
    list-style: none;
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.menu-list a {
    color: white;
}

.top-logo span {
    font-weight: 100;
    top: 42%;
    left: 55px;
    position: relative;
}

.top-logo span:hover {
    color: black;
}

// .menu-bar-hover {
//     border-bottom: 2px solid black;
//     margin-top: 20px;
//     width: 50px;
// }

.contact-container {
    text-align: center;
    padding-top: 25px;
    padding-left: 5px;
    @media all and (min-width: 600px) {
        width: 10%;
        padding-left: 48px;
    }
}

.contact-container a {
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    background: #00d08c;
    border-radius: 20px;
    @media all and (min-width: 600px) {
        margin-left: 0px;
    }
}

.contact-container a:hover {
    background: white;
    color: black;
}


nav.active{
    background:rgba(0, 0, 0, .7);
    color:#fff;
  }


/*  */


/* body{
	font-family: 'Noto Sans', sans-serif;
	  margin:0;
	  width:100%;
	  height:100vh;
		background:#ffffff;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
  }
  header{
	  width:100%;
	  background:#ffffff;
	  height:60px;
	  line-height:60px;
	  border-bottom:1px solid #dddddd;
  }
  .hamburger{
	background:none;
	position:absolute;
	top:0;
	right:0;
	line-height:45px;
	padding:5px 15px 0px 15px;
	color:#999;
	border:0;
	font-size:1.4em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
  }
  .cross{
	background:none;
	position:absolute;
	top:0px;
	right:0;
	padding:7px 15px 0px 15px;
	color:#999;
	border:0;
	font-size:3em;
	line-height:65px;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
  }
  .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
  .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
  .menu ul li a:hover {  color: #666; text-decoration:none;}
  .menu a{text-decoration:none; color:#666;}
  .menu a:hover{text-decoration:none; color:#666;}

  .glyphicon-home{
	color:white;
	font-size:1.5em;
	margin-top:5px;
	margin:0 auto;
  }
  header{display:inline-block; font-size:12px;}
  span{padding-left:20px;}
  a{color:#336699;} */