
.latle-container {
    .latle-topbanner {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.6) 60%), url('../img/latale/latle-mainbanner.jpg') no-repeat top;
        background-size: cover;
        height: 90vh;
    }

    .secondrow-img, .thirdrow-img, .fourthrow-img, .fifthrow-img{
        width: 100%;
        margin: 0 auto;
        @media all and (min-width: 600px) {
            width: 80%;
        }
        img{
            width: 100%;
        }
    }
    .eighthrow-container{
        background: #F6F6F6;
        border-top: 1px solid #dce0e5;
        border-bottom: 1px solid #dce0e5;
    }
}