
.pocha-container {
    .pocha-topbanner {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.6) 40%), url('../img/pocha/pocha-bg.jpg') no-repeat top;
        background-size: cover;
        height: 90vh;
    }
 

.rotate-banner-bg{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 0%), url('../img/pocha/image2-bg.jpg') no-repeat top;
    background-size: cover;
}
.pocha-problem {
    padding-left: 36px;
    line-height: 24px;
    h3{
        font-weight: 900;
    }
    ul{
        margin-left: 20px;
    }
    .problem {
      margin-bottom: 20px;
    }
  }
  .rotationbanner-container .max-width{
      margin: 0 auto;
  }
    .pocha-problem{
        .problem, .solution{
            width: 50%;
        }
    }
    .process-approach-contianer{
        display: flex;
        justify-content: space-around;
        .thirdrow-img{
            width: 30%;
        }
    }
    .header-text {
        @media all and (min-width: 600px) {
            width: 500px;
        }
        padding-bottom: 30px;
        margin: 0 auto;
        text-align: center;
    }
}