.color-bar{
display: flex;
width: 500px;
margin: 50px auto;
}

.color-bar div{
    width: 100px;
    height: 20px;
}
.cb1{
    background: #2b9ea0;
}
.cb2{
    background: #e0f7ff;
}
.cb3{
    background: #ffa500;
}
.cb4{
    background: #ffc0cb;
}
.cb5{
    background: #02333e;
}

.pong-section3{
    text-align: center;
}
.pong-image3 img{
    width: 500px;
    margin-bottom: 90px;
}