.flickity-prev-next-button .previous{
    border: none !important;
    background-color: white;
  }
  
  .thank-you {
    display: none;
}

.featherlight .featherlight-content {
    padding: 0 !important;
}

.featherlight-content {
    height: 70% !important;
    margin-bottom: 0 !important;
    background-image: linear-gradient(#88ccb4, #6fbebc, ) !important;
    .featherlight-inner {
        // margin-top: 50px;
        color: white;
        margin: 50px auto;
        @media all and (min-width: 600px) {
            // width: 500px;
        }
   
        @media all and (min-width: 1000px) {
            margin: 50px;
        }
    }
    .submit-btn {
        height: 30px;
        border-radius: 3px;
        background: #0a6550;
        color: white;
        border: 1px solid #0a604c;
        width: 100%;
        &:hover{
            background: #0d9189;
        }
    }
    #contact-form {
        margin: 0 20px;
    }
    div {
        margin-bottom: 20px;
        p {
            font-size: 14px;
            color: white;
        }
        input {
            @media all and (min-width: 600px) {
                // width: 326px;
                width: 100%;
            }
            height: 31px;
        }
        textarea {
            @media all and (min-width: 600px) {
                width: 100%;
            }
            height: 85px;
        }
    }
    .thankyou-logo {
        text-align: center;
        margin: 20px 0 20px 0;
    }
    .bar {
        width: 162px;
        height: 3px;
        // background: #7f7f7f;
        background: white;
        margin: 20px auto;
    }
    h2 {
        // color: #1a1a1a;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
    }
    .thank-you-p {
        color: white;
        font-size: 18px;
        font-weight: 400; 
        text-align: center;
    }
    span {
        font-weight: 500;
    }
}