.thank-you {
    display: none;
}
.featherlight .featherlight-content{
    padding: 0 !important;
}

.featherlight-content {
    width: 90%;
    height: 400px;
    max-height: 100%;
    @media all and (min-width: 600px) {
        width: 50%;
    }
    .thankyou-logo{
        text-align: center;
        margin: 20px 0 20px 0;
    }
    .bar{
        width: 162px;
        height: 3px;
       background: #7f7f7f;
       margin: 20px auto;

    }
    h2 {
        color: #1a1a1a;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
    }
    p {
        color: #7f7f7f;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
    span {
        font-weight: 500;
    }
}