.sc-images {
    text-align: center;
}

.sc-map,
.sc-style {
    width: 720px;
}

.sc-images img {
    margin-bottom: 90px;
}
.sc-images p {
    margin-bottom: 20px;
    color: black;
    font-weight: 500;
}