.e-commerce-container {
    .e-commerce-topbanner {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 50%, rgba(0, 0, 0, 0.45) 50%), url('../img/sc/sc-bg.jpg') no-repeat top;
        background-size: cover;
        height: 80vh;
    }
    .sp-sub-title {
        h6 {
            margin: 0;
        }
        h6:nth-child(2) {
            padding-bottom: 35px;
        }
    }
    .secondrow-img img {
        box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, .2);
    }
    .sc-images p {
        margin-bottom: 20px;
        color: black;
        font-weight: 500;
    }
    .fourthrow-container {
        background: #F6F6F6;
        border-top: 1px solid #dce0e5;
        @media all and (min-width: 600px) {
            display: flex;
            justify-content: space-around;
        }
        img {
            width: 100%;
        }
    }
    .fourthrow-img{
        @media all and (min-width: 600px) {
        width: 45%;}
    }
    .fifthrow-container{
        img{
            width: 100%;
        }
    }
}