.ws-section2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

.ws-section3 {
    background: #F6F6F6;
    border-top: 1px solid #dce0e5;
    border-bottom: 1px solid #dce0e5;
}

.ws-section4 {
    padding-top: 64px;
    text-align: center;
}

.section2-text {
    padding: 50px 0 0px 50px;
    width: 520px;
}

.section2-thumb img {
    width: 300px;
}

h6 {
    margin: 35px 0;
    font-size: 45px;
    color: white;
}

.ws-lang {
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    width: 300px;
    padding: 10px 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
}

.ws-lang p {
    color: white;
}

.sp-sub-title {
    text-align: center;
    padding-top: 200px;
}

.ps-container ul{
    list-style-type: square;
}

.ps-container{
    h3{
        margin-bottom: 10px;
    }
    ul{
        padding-left: 20px;
    }
    margin: 20px 0px;
}

// .main-text-list {
//     display: flex;
//     justify-content: space-around;
//     width: 292px;
//     margin-top: 20px;
//     color: grey;
// }

.section2-thumb{
    margin: 20px 0;
}