.menu-container {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%; }

.menu {
  display: flex;
  font-size: 14px;
  height: 60px;
  margin: 0 auto; }
  @media all and (min-width: 600px) {
    .menu {
      padding: 0 5%;
      max-width: 900px; } }

li a:hover {
  color: #34746f; }

.pink-bar-top {
  visibility: hidden; }

.pink-bar-top:hover {
  visibility: visible; }

.menu-bar {
  color: rgba(0, 0, 0, 0.8); }

.top-logo {
  padding-left: 15px;
  width: 50%;
  color: white; }
  @media all and (min-width: 600px) {
    .top-logo {
      width: 40%;
      padding-left: 0; } }

.top-logo img {
  margin-top: 8px;
  width: 24px;
  position: absolute; }

.menu-list {
  margin-top: 24px;
  color: white;
  list-style: none;
  width: 45%;
  display: flex;
  justify-content: space-between; }

.menu-list a {
  color: white; }

.top-logo span {
  font-weight: 100;
  top: 42%;
  left: 55px;
  position: relative; }

.top-logo span:hover {
  color: black; }

.contact-container {
  text-align: center;
  padding-top: 25px;
  padding-left: 5px; }
  @media all and (min-width: 600px) {
    .contact-container {
      width: 15%;
      padding-left: 48px; } }

.contact-container a {
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  background: #00d08c;
  border-radius: 20px; }
  @media all and (min-width: 600px) {
    .contact-container a {
      margin-left: 0px; } }

.contact-container a:hover {
  background: white;
  color: black; }

nav.active {
  width: 100%;
  height: 65px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff; }

/*  */
/* body{
	font-family: 'Noto Sans', sans-serif;
	  margin:0;
	  width:100%;
	  height:100vh;
		background:#ffffff;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
  }
  header{
	  width:100%;
	  background:#ffffff;
	  height:60px;
	  line-height:60px;
	  border-bottom:1px solid #dddddd;
  }
  .hamburger{
	background:none;
	position:absolute;
	top:0;
	right:0;
	line-height:45px;
	padding:5px 15px 0px 15px;
	color:#999;
	border:0;
	font-size:1.4em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
  }
  .cross{
	background:none;
	position:absolute;
	top:0px;
	right:0;
	padding:7px 15px 0px 15px;
	color:#999;
	border:0;
	font-size:3em;
	line-height:65px;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
  }
  .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
  .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
  .menu ul li a:hover {  color: #666; text-decoration:none;}
  .menu a{text-decoration:none; color:#666;}
  .menu a:hover{text-decoration:none; color:#666;}

  .glyphicon-home{
	color:white;
	font-size:1.5em;
	margin-top:5px;
	margin:0 auto;
  }
  header{display:inline-block; font-size:12px;}
  span{padding-left:20px;}
  a{color:#336699;} */
footer {
  background: #272D35;
  padding: 20px 0;
  min-height: 280px;
  text-align: center;
  color: #fff;
  clear: both;
  border-top: 1px solid #3d4652; }
  footer .f-sns-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px; }
  footer .f-sns {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 0 10px; }
  footer .behance {
    background: #1769ff; }
  footer .linkedin {
    background: #0077b5; }
  footer .fa {
    padding-top: 16px; }

.sub-footer {
  display: flex;
  justify-content: center;
  height: 130px;
  background-image: -webkit-linear-gradient(top, #2b323b 0, #2b323b 45%, #343c47 45%, #343c47 78%, #3d4652 78%, #3d4652 100%); }

.gototop-container .top-img {
  width: 30px; }
.gototop-container .arrow {
  transform: rotate(180deg); }

small {
  font-weight: 300;
  font-size: 14px;
  color: #758599; }
  small span a {
    color: #3195C2; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif; }

h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 35px 0;
  text-transform: uppercase; }

h2 span {
  font-size: 40px;
  color: #272727; }

p {
  color: #4f4f4f;
  line-height: 22px; }

a {
  text-decoration: none;
  color: white; }

.mainpage-container .main-section {
  text-align: center;
  line-height: 24px;
  margin: 0px 0 50px 0;
  background: url("../img/main-bg02.png") no-repeat center;
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover; }

.mainpage-container .main-text h1,
.work-section .main-text h1, .section05 .main-text h1 {
  line-height: 55px;
  margin: 0 auto;
  max-width: 543px;
  font-size: 45px;
  color: white; }
.mainpage-container .main-text,
.work-section .main-text, .section05 .main-text {
  padding-top: 150px; }
.mainpage-container .main-section h2 span,
.work-section .main-section h2 span, .section05 .main-section h2 span {
  color: white; }
.mainpage-container .main-section p,
.work-section .main-section p, .section05 .main-section p {
  margin: 35px auto;
  min-width: 260px;
  padding: 0 10px;
  color: black;
  padding: 0% 20px; }
  @media all and (min-width: 600px) {
    .mainpage-container .main-section p,
    .work-section .main-section p, .section05 .main-section p {
      max-width: 696px;
      padding: 0%; } }
.mainpage-container .main-section img,
.work-section .main-section img, .section05 .main-section img {
  margin-top: 120px; }
.mainpage-container .bar,
.work-section .bar, .section05 .bar {
  border-bottom: 2px solid black;
  width: 30px;
  margin: 0 auto;
  padding-bottom: 10px; }
.mainpage-container .m-btn,
.work-section .m-btn, .section05 .m-btn {
  width: 145px;
  height: 32px;
  padding-top: 6px;
  margin: auto;
  border: 2px solid;
  color: white; }
.mainpage-container .m-btn:hover,
.work-section .m-btn:hover, .section05 .m-btn:hover {
  border: 2px solid white;
  background: white;
  color: black; }
.mainpage-container .btn,
.work-section .btn, .section05 .btn {
  width: 145px;
  padding: 15px 0;
  background: #00d08c;
  border-radius: 30px;
  margin: 25px auto;
  text-align: center; }
.mainpage-container .btn:hover,
.work-section .btn:hover, .section05 .btn:hover {
  background: #454545; }
.mainpage-container .buttons,
.work-section .buttons, .section05 .buttons {
  display: flex;
  justify-content: space-around;
  max-width: 428px;
  margin: auto;
  padding-bottom: 60px; }
.mainpage-container .work-list,
.work-section .work-list, .section05 .work-list {
  list-style: none;
  display: flex;
  max-width: 700px;
  justify-content: space-between;
  margin: auto;
  margin-top: 35px; }
.mainpage-container .work-list li,
.work-section .work-list li, .section05 .work-list li {
  border: 1px solid #6d6d6d;
  padding: 5px 10px; }
.mainpage-container .work-list li:hover,
.work-section .work-list li:hover, .section05 .work-list li:hover {
  border: 1px solid #ef7c8b;
  color: #ef7c8b; }
.mainpage-container .works-container,
.work-section .works-container, .section05 .works-container {
  text-align: center;
  margin: 45px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media all and (min-width: 600px) {
    .mainpage-container .works-container,
    .work-section .works-container, .section05 .works-container {
      max-width: 950px;
      width: 100%; } }
  .mainpage-container .works-container .dp-thumb-con,
  .work-section .works-container .dp-thumb-con, .section05 .works-container .dp-thumb-con {
    display: inline-block;
    position: relative;
    margin: 0 10px 10px 30px; }
    @media all and (min-width: 600px) {
      .mainpage-container .works-container .dp-thumb-con,
      .work-section .works-container .dp-thumb-con, .section05 .works-container .dp-thumb-con {
        width: 50%; } }
    @media all and (min-width: 900px) {
      .mainpage-container .works-container .dp-thumb-con,
      .work-section .works-container .dp-thumb-con, .section05 .works-container .dp-thumb-con {
        width: 28%; } }

.thumb {
  position: relative;
  overflow: hidden; }

.thumb img {
  max-width: 100%;
  transition: all 0.3s; }

.dp-thumb-con img {
  filter: brightness(95%);
  max-width: 100%; }

.dp-thumb-con:hover img {
  transform: scale(1.03);
  filter: brightness(100%); }

@media all and (min-width: 600px) {
  .ws-section2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto; } }

.section2-text {
  padding: 0 20px; }
  @media all and (min-width: 600px) {
    .section2-text {
      padding: 50px 0 0px 50px;
      width: 55%; } }

.section2-thumb {
  margin: 20px; }
  @media all and (min-width: 600px) {
    .section2-thumb {
      margin: 20px 0;
      width: 35%; } }

.ws-section3 {
  background: #F6F6F6;
  border-top: 1px solid #dce0e5;
  border-bottom: 1px solid #dce0e5; }

.ws-section4 {
  text-align: center; }

.section2-thumb img {
  width: 100%; }

h6 {
  margin: 35px 0;
  font-size: 39px;
  color: white; }
  @media all and (min-width: 700px) {
    h6 {
      font-size: 45px; } }

.ws-lang {
  border-radius: 3px;
  border: 1px solid #d4d4d4;
  width: 300px;
  padding: 10px 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.4); }

.ws-lang p {
  color: white; }

.sp-sub-title {
  text-align: center;
  padding-top: 128px; }
  @media all and (min-width: 700px) {
    .sp-sub-title {
      padding-top: 157px; } }
  @media all and (min-width: 900px) {
    .sp-sub-title {
      padding-top: 200px; } }

.ps-container ul {
  list-style-type: square; }

.ps-container {
  margin: 20px 0px; }
  .ps-container h3 {
    margin-bottom: 10px; }
  .ps-container ul {
    padding-left: 20px; }

.ws-section4 img {
  width: 100%; }

.secondrow-container,
.fourthrow-container {
  background: #F6F6F6;
  border-top: 1px solid #dce0e5;
  border-bottom: 1px solid #dce0e5; }
  @media all and (min-width: 600px) {
    .secondrow-container,
    .fourthrow-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; } }

@media all and (min-width: 600px) {
  .secondrow-img,
  .img-container {
    width: 48%; } }

.secondrow-img img {
  width: 100%; }

@media all and (min-width: 600px) {
  .thirdrow-container {
    display: flex;
    justify-content: space-around; } }
@media all and (min-width: 600px) {
  .thirdrow-container .thirdrow-img {
    width: 45%; } }
.thirdrow-container .thirdrow-img img {
  width: 100%; }

.secondrow-container,
.thirdrow-container,
.fourthrow-container,
.fifthrow-contauner {
  padding: 30px 0; }
  @media all and (min-width: 600px) {
    .secondrow-container,
    .thirdrow-container,
    .fourthrow-container,
    .fifthrow-contauner {
      margin: 0px auto;
      padding: 60px 0; } }

.aloha-container .aloha-image {
  text-align: center;
  margin-bottom: 90px; }
.aloha-container .aloha-conatiner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 50%, rgba(0, 0, 0, 0.45) 50%), url("../img/aloha-img.png") no-repeat top;
  background-size: cover;
  height: 80vh; }
.aloha-container .ws-section3 {
  background: #F6F6F6;
  border-top: 1px solid #dce0e5;
  border-bottom: 1px solid #dce0e5;
  padding: 50px 80px; }

.fsm-container .fsm-topbanner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.6) 60%), url("../img/fsm/fsm-top03.jpg") no-repeat top;
  background-size: cover;
  height: 80vh; }
.fsm-container .sc-images p {
  margin-bottom: 20px;
  color: black;
  font-weight: 500; }
.fsm-container .thirdrow-container {
  padding-top: 50px; }

.aboutme-container .main-section {
  text-align: center;
  line-height: 24px;
  margin: 0px 0 50px 0;
  background: url("../img/main-bg02.png") no-repeat center;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover;
  height: 120px; }

h5 {
  font-weight: 700;
  margin: 30px 0 10px 0px; }

.profile-pic {
  display: flex;
  justify-content: space-between;
  width: 310px;
  margin: auto;
  padding-bottom: 35px; }

.am-main-section {
  text-align: center;
  margin: 160px 0; }

.ex-section {
  padding: 90px 0;
  background: #f0f0f0; }

.about-me {
  max-width: 750px;
  margin: 35px auto;
  padding: 0 20px; }

.about-me p {
  line-height: 24px; }

.linked-logo {
  width: 96px;
  padding-right: 20px; }

.wix-logo {
  width: 85px;
  padding-left: 20px; }

.ror-container {
  background: white;
  max-width: 900px;
  margin: 35px auto;
  padding: 20px 30px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2); }

.ror-container li {
  line-height: 24px; }

.date {
  font-size: 14px;
  font-weight: 700; }

.company {
  font-size: 14px; }

.position {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #3195C2; }

.wp {
  width: 30px; }

.in {
  width: 22px; }

.web-p-container {
  width: 100%;
  min-width: 260px;
  margin: auto; }
  @media all and (min-width: 600px) {
    .web-p-container {
      display: flex;
      max-width: 900px;
      flex-wrap: wrap;
      justify-content: center; } }

.web-p-single-container {
  min-width: 300px;
  padding: 30px 30px; }
  @media all and (min-width: 600px) {
    .web-p-single-container {
      min-width: 250px;
      width: 25%;
      padding: 50px 20px; } }

.web-p-single-container span {
  font-weight: 700;
  color: black; }

.web-title {
  text-align: center; }

.text {
  height: 180px;
  line-height: 24px; }
  @media all and (min-width: 600px) {
    .text {
      height: 250px; } }

.des-me-section {
  padding: 90px 0; }

.am-skill-section {
  background: white;
  padding-bottom: 60px; }

.role {
  max-width: 800px;
  margin: auto;
  padding: 0 20px 30px 20px; }

.job-title {
  max-width: 855px;
  margin: auto;
  padding-top: 20px; }

.job-title p {
  padding-bottom: 20px; }

.am-wp-bar {
  margin-bottom: 20px; }

.lang {
  margin-top: 20px;
  font-size: 14px; }

.accordion {
  overflow: hidden; }

.accordion-section-content {
  padding: 15px;
  display: none; }

.accordion-section a {
  border: 1px solid #8a939a;
  color: #8a939a;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 14px; }

.view-btn {
  margin: 11px 0; }

.view-btn img {
  width: 10px; }

.down-arrow {
  transform: scaleY(-1); }

.aboutme-container .bar {
  border-bottom: 2px solid black;
  width: 30px;
  margin: 0 auto;
  padding-bottom: 10px; }

.e-commerce-container .e-commerce-topbanner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 50%, rgba(0, 0, 0, 0.45) 50%), url("../img/sc/sc-bg.jpg") no-repeat top;
  background-size: cover;
  height: 80vh; }
.e-commerce-container .sp-sub-title h6 {
  margin: 0; }
.e-commerce-container .sp-sub-title h6:nth-child(2) {
  padding-bottom: 35px; }
.e-commerce-container .ws-section4 img {
  margin-top: 64px;
  text-align: center;
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.25); }
.e-commerce-container .secondrow-img img {
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2); }
.e-commerce-container .sc-images p {
  margin-bottom: 20px;
  color: black;
  font-weight: 500; }
.e-commerce-container .fourthrow-container {
  background: #F6F6F6;
  border-top: 1px solid #dce0e5;
  border-bottom: 1px solid #dce0e5; }
  @media all and (min-width: 600px) {
    .e-commerce-container .fourthrow-container {
      display: flex;
      justify-content: space-around; } }
  .e-commerce-container .fourthrow-container img {
    width: 100%; }

.latle-container .latle-topbanner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.6) 60%), url("../img/latale/latle-mainbanner.jpg") no-repeat top;
  background-size: cover;
  height: 90vh; }
.latle-container .secondrow-img, .latle-container .thirdrow-img, .latle-container .fourthrow-img, .latle-container .fifthrow-img {
  width: 100%;
  margin: 0 auto; }
  @media all and (min-width: 600px) {
    .latle-container .secondrow-img, .latle-container .thirdrow-img, .latle-container .fourthrow-img, .latle-container .fifthrow-img {
      width: 80%; } }
  .latle-container .secondrow-img img, .latle-container .thirdrow-img img, .latle-container .fourthrow-img img, .latle-container .fifthrow-img img {
    width: 100%; }

.fellow-container .fellow-topbanner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.6) 60%), url("../img/fellow/fellow-mainbanner.jpg") no-repeat top;
  background-size: cover;
  height: 90vh; }
.fellow-container .sp-sub-title {
  padding-top: 197px; }
  .fellow-container .sp-sub-title h6 {
    line-height: 58px;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 30px; }
.fellow-container .secondrow-img, .fellow-container .thirdrow-img, .fellow-container .fourthrow-img, .fellow-container .fifthrow-img {
  width: 100%;
  margin: 0 auto; }
  @media all and (min-width: 600px) {
    .fellow-container .secondrow-img, .fellow-container .thirdrow-img, .fellow-container .fourthrow-img, .fellow-container .fifthrow-img {
      width: 80%; } }
  .fellow-container .secondrow-img img, .fellow-container .thirdrow-img img, .fellow-container .fourthrow-img img, .fellow-container .fifthrow-img img {
    width: 100%; }

.skill-section h3,
.mainpage-container h3,
.aboutme-container h3, .works-container h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto 0;
  text-align: center; }
.skill-section h4,
.mainpage-container h4,
.aboutme-container h4, .works-container h4 {
  color: #272D35;
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0; }

.skill-section {
  background: #F6F6F6;
  border-top: 1px solid #dce0e5;
  border-bottom: 1px solid #dce0e5;
  padding: 90px 0; }
  .skill-section .skill-section02 {
    text-align: center; }
  .skill-section .skill-container {
    padding-top: 35px;
    max-width: 920px;
    margin: 15px auto;
    background: white; }
    @media all and (min-width: 600px) {
      .skill-section .skill-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; } }
  .skill-section .skill-single-container {
    width: 50%;
    height: 270px;
    text-align: center;
    padding-top: 35px;
    margin: 15px auto; }
    @media all and (min-width: 600px) {
      .skill-section .skill-single-container {
        text-align: center; } }
  .skill-section .skill-single-container p {
    max-width: 260px;
    line-height: 24px;
    margin: auto; }

.section05 .main-section {
  text-align: center;
  line-height: 24px;
  margin: 0px 0 20px 0;
  background: url("../img/main-bg02.png") no-repeat center;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover; }
.section05 .main-text {
  padding: 140px 0 80px 0; }
  .section05 .main-text h1 {
    max-width: 500px;
    font-size: 32px; }
.section05 h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto 0;
  text-align: center; }
.section05 h4 {
  color: #272D35;
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0; }
.section05 .git-link {
  font-size: 14px; }
.section05 .git-link:hover {
  color: white; }
.section05 .git-btn {
  text-align: center; }
.section05 .git-link {
  width: 135px;
  text-align: center;
  margin: auto;
  border-radius: 2px;
  padding: 8px 20px; }
.section05 .git-link-g {
  border: 1px solid #8a939a;
  color: #8a939a; }
.section05 .git-link-g:hover {
  background: #8a939a; }
.section05 .git-link-b {
  border: 1px solid #0ca2ff;
  color: #0ca2ff; }
.section05 .git-link-b:hover {
  background: #0ca2ff; }
.section05 .git-link-pp {
  border: 1px solid #796eff;
  color: #796eff; }
.section05 .git-link-pp:hover {
  background: #796eff; }
.section05 .git-link-p {
  border: 1px solid #FF5163;
  color: #FF5163; }
.section05 .git-link-p:hover {
  background: #FF5163; }
.section05 .bar {
  border-bottom: 2px solid black;
  width: 30px;
  margin: 0 auto;
  padding-bottom: 10px; }

.work-section .main-section,
.works-container .main-section {
  text-align: center;
  line-height: 24px;
  margin: 0px 0 50px 0;
  background: url("../img/main-bg02.png") no-repeat center;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover; }
.work-section .main-text,
.works-container .main-text {
  padding: 140px 0 80px 0;
  margin: 0 15px; }
  @media all and (min-width: 600px) {
    .work-section .main-text,
    .works-container .main-text {
      margin: 0px; } }
  .work-section .main-text h1,
  .works-container .main-text h1 {
    max-width: 500px;
    font-size: 32px; }
.work-section .p-th-span,
.works-container .p-th-span {
  color: grey;
  font-style: italic; }
.work-section .p-th-p,
.works-container .p-th-p {
  margin: 10px 0; }
.work-section .dp-thumb-con h3,
.works-container .dp-thumb-con h3 {
  font-weight: 400;
  color: #3195C2;
  margin-top: 28px; }
.work-section .dp-thumb-con:hover h3,
.works-container .dp-thumb-con:hover h3 {
  transition: all .3s ease-in-out;
  color: #E0CB77; }
.work-section .btn,
.works-container .btn {
  border: 1px solid grey;
  background: none;
  border-radius: 2px; }
  .work-section .btn a,
  .works-container .btn a {
    color: black; }

.thank-you {
  display: none; }

.featherlight-content {
  width: 90%;
  height: 400px;
  max-height: 100%; }
  @media all and (min-width: 600px) {
    .featherlight-content {
      width: 50%; } }
  .featherlight-content .thankyou-logo {
    text-align: center;
    margin: 20px 0 20px 0; }
  .featherlight-content .bar {
    width: 162px;
    height: 3px;
    background: #7f7f7f;
    margin: 20px auto; }
  .featherlight-content h2 {
    color: #1a1a1a;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center; }
  .featherlight-content p {
    color: #7f7f7f;
    font-size: 18px;
    font-weight: 300;
    text-align: center; }
  .featherlight-content span {
    font-weight: 500; }

body {
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  /* background: #232323; */
  /* color: #cdcdcd;  */
  font-family: "Avenir Next", "Avenir", sans-serif; }

a {
  text-decoration: none;
  transition: color 0.3s ease; }

/* a:hover
{
  color: tomato;
} */
#menuToggle {
  display: block;
  position: relative;
  top: 23px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the mburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
 */
#menuToggle .ham-bar {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  /* background: #232323; */ }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  height: 800px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none; }

.desktop-menu {
  visibility: hidden; }

.ham-menu .menu-sns {
  display: flex;
  padding-top: 50px; }

.menu-sns div {
  padding-right: 15px; }

.menu-sns div:last-child {
  padding-left: 0; }

.menu-sns img {
  width: 25px; }

.ham-menu {
  position: fixed;
  z-index: 1; }

@media all and (min-width: 500px) {
  .ham-menu {
    display: none; }

  .desktop-menu {
    visibility: visible; } }
.menu-logo-img img {
  margin-top: 8px;
  width: 24px; }

.menu-list {
  margin-top: 24px;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between; }

.menu-list a {
  color: white; }

li a:hover {
  color: #34746f; }

/*# sourceMappingURL=style.css.map */
