body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
}

h2 {
	font-size: 24px;
	font-weight: 400;
	margin: 35px 0;
	text-transform: uppercase;
}

h2 span {
	color: #272727;
}

p {
	color: #4f4f4f;
}

h3 {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin: auto 0;
	text-align: center;
}

h4 {
	font-size: 18px;
	font-weight: 600;
	margin: 15px 0;
}

a {
	text-decoration: none;
	color: white;
}

.main-section {
	text-align: center;
	line-height: 24px;
	margin: 10px 0 50px 0;
	/* background-image: url("../img/main-bg02.png");
	background: linear-gradient(45deg, #349b98, #65cb99); */
	background: url("../img/main-bg02.png") no-repeat center;
	background-size: cover;
}

.main-section h2 span {
	color: white;
}
.main-section p {
	margin: 35px auto;
	min-width: 260px;
	padding: 0 10px;
	color: black;
}
@media all and (min-width: 600px) {
.main-section p {
	max-width: 696px;
	padding: 0%;
}
}
.main-section img {
	margin-top: 80px;
}

.bar {
	border-bottom: 2px solid black;
	width: 30px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.skill-section {
	background: #f0f0f0;
	padding: 90px 0;
}

.skill-section02 {
	text-align: center;
}

.skill-container {
	padding-top: 35px;
	max-width: 990px;
	margin: auto;
}

@media all and (min-width: 600px) {
	.skill-container {
		display: flex;
		justify-content: space-between;
	}
}

.skill-single-container {
	background: white;
	width: 260px;
	height: 270px;
	text-align: center;
	padding-top: 35px;
	margin: 15px auto;
}

@media all and (min-width: 600px) {
	.skill-single-container {
		width: 300px;
		text-align: center;
	}
}

.skill-single-container p {
	max-width: 200px;
	line-height: 24px;
	margin: auto;
	margin-top: 25px;
}

.btn01 {
	width: 145px;
	height: 32px;
	padding-top: 6px;
	background: white;
	margin: auto;
	border-radius: 10px;
}

.btn01:hover {}

.btn01 a {
	color: black;
}

.btn02 {
	width: 145px;
	height: 32px;
	padding-top: 6px;
	border: 1px solid white;
	margin: auto;
	border-radius: 10px;
}

.btn {
	width: 145px;
	padding: 10px 0;
	background: #272727;
	border-radius: 3px;
	margin: 25px auto;
	text-align: center;
}

.btn:hover {
	background: #dd674f;
}


/* .btn02 a {
	color: white;
	text-decoration: none;
	padding-left: 40px;
} */


/*
.btn a {
	color: white;
	font-size: 14px;
	text-decoration: none;
} */

.buttons {
	display: flex;
	justify-content: space-around;
	max-width: 428px;
	margin: auto;
	padding-bottom: 60px;
}

.pink-bar {
	border-bottom: 2px solid #ef7c8b;
	width: 30px;
	margin: 0 auto;
}

.work-section {
	margin-bottom: 90px;
}

.work-section h3 {
	margin-top: 90px;
}

.work-list {
	list-style: none;
	display: flex;
	max-width: 700px;
	justify-content: space-between;
	margin: auto;
	margin-top: 35px;
}

.work-list li {
	border: 1px solid #6d6d6d;
	padding: 5px 10px;
}

.work-list li:hover {
	border: 1px solid #ef7c8b;
	color: #ef7c8b;
}

.works-container {
	text-align: center;
	margin-top: 35px;
}


/* .section04 {
	margin-top: 90px;
	background: linear-gradient(90deg, #f8f8f8, #f1f1f1);
} */

.works-container .aloha {
	display: inline-block;
	position: relative;
}

.aloha_hover {
	position: absolute;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
}

.aloha_hover p {
	color: white;
	font-weight: 300;
	letter-spacing: 1.2px;
}

.hover-l {
	padding: 23px 0;
	background: rgba(0, 0, 0, 0.95);
	font-size: 14px;
}

.hover-t {
	margin: 40px 0 50px 0;
	font-size: 18px;
}

.btn03 {
	border: 1px solid white;
	padding: 8px 25px 8px 25px;
	border-radius: 3px;
	font-weight: 400;
}

.btn03:hover {
	color: black;
	background: white;
}