.work-section, .works-container {
    .main-section {
        text-align: center;
        line-height: 24px;
        margin: 0px 0 50px 0;
        background: url("../img/main-bg02.png") no-repeat center;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-size: cover;
    }
    .main-text{
        padding: 140px 0 80px 0;
    }
    .p-th-span{
        color: grey;
        font-style:  italic;
      
    }
    .p-th-p{
        margin: 10px 0;
    }
    .aloha h3{
        font-weight: 400;
        color: #3195C2;
        margin-top: 28px;

    }
    .aloha:hover h3{
        transition: all .3s ease-in-out;
        color: #E0CB77;
       }


    .btn{
        border: 1px solid grey;
        background: none;
        border-radius: 2px;
        a{color: black;}
    }
}

